.row{
    width: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
}
.row2{
    width: 100%;
    text-align: left;
    line-height: 30px;
    display: flex;
}
.font{
    font-family: monospace;
    color: #c9d6df;
}
.container{
    width: 100px;
    text-align: right;
}
.container2{
    width: 10px;
}
.container3{
    width: 90px;
    text-align: left;
}
.container3{
    vertical-align: middle;
}
.btn {
    width: 50px;
    height: 50px;
    background: #757575;
    color: rgba(204, 204, 204, 0);
    font-size: 12px;
    transition: background 0.3s;
    border-radius: 50%;
    box-shadow: none;
    border: 0;	
    cursor: pointer;
    outline : none;
}
.btn2{
    background: #404040;
    /* color: #FFFFFF; */
}
.btn:hover, .active {
    background: #dddddd;
    color: #FFFFFF;
}
.pen {
    background-image: url('./icon/btn_pen.png');
}
.eraser {
    background-image: url('./icon/btn_eraser.png');
}
.rectangle {
    background-image: url('./icon/btn_rectangle.png');
}
.circle {
    background-image: url('./icon/btn_circle.png');
}
.triangle {
    background-image: url('./icon/btn_triangle.png');
}
.line {
    background-image: url('./icon/btn_line.png');
}
.bucket {
    background-image: url('./icon/btn_bucket.png');
}
.text {
    background-image: url('./icon/btn_text.png');
}
.rainbow {
    background-image: url('./icon/btn_rainbow.png');
}
.undo {
    background-image: url('./icon/btn_undo.png');
}
.redo {
    background-image: url('./icon/btn_redo.png');
}
.clear {
    background-image: url('./icon/btn_clear.png');
}
.save {
    background-image: url('./icon/btn_save.png');
}
input[type=range] {
    -webkit-appearance: none;
    width: 180px;
    height: 5px;
    background: #999999;
    border:1px solid gray;
    border-radius: 50px; 
    outline : none;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    margin-top: 0px;
    background: #ffffff; 
    border-radius: 50%;
    border:1px solid rgba(205, 224, 230, 0.5);
    transition: background  0.3s;
    transition: border  0.3s;
    cursor: pointer;
}
input[type=range]::-webkit-slider-thumb:hover{
    border:1px solid #666666;
    background: #cccccc;
}